*{
    margin: 0;
    padding: 0;
}

body{
  font-weight: 400;  
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-image: url("../menu/imagens/imgfullsize.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
  transition: all 500ms linear;
}

.wrap-everything{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    height: 100%;
    width: 100%;
}

.wrap-img{
  margin-bottom: 4vh;
  opacity: 0.7;
  animation: fromTop 1.5s linear;
}

@keyframes fromTop {
  0%{
    transform: translateY(-300px);
  }
  100%{
    transform: translateY(0px);
  }
}

.img-style{
  height: auto;
  width: 400px;
}

.wrap-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

p {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  text-shadow: 10px 10px 10px rgba(0,0,0,0);
  filter: blur(0.5px);
  transition: all 200ms linear;
  animation: show 2s linear;
}

@keyframes show {
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 0.8;
  }
}
