*{
    margin: 0;
    padding: 0;
}

body{
  font-weight: 400;  
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.wrap-everything{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    height: 100%;
}